.row.headerr{
    display: flex;
    justify-content: space-between;
}
.home.container .d-block{
    height: 500px;
    width: 850px;
}
.home.container h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 25px;
}
.home.container h5.news{
    color: #a91919;
}
.home.container p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.body-news-images{
    max-width: 200px;
    max-height: 150px;
}
.col-sm-7 .body-title{
    color: #030b4a;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.col-sm-7 .body-news{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
}