*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navv.container .row{
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}
.navv.container .bottom{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #030b4a;
}

.navbar-logo{
    width: 250px;
}
.form-control{
  border-radius: 10px;
  border-color:lightgray;
  max-width: 500px;
}
.navv.container .list{
    width: 100%;
}
.menu-item {
    margin: 10px;
    user-select: none;
    cursor: pointer;
    border: none;
    color: #030b4a;
  }
.menu-item:hover{
  color: #a91919;
  text-decoration: none;
}

.menu-item.active {
  color: #a91919;
}
  
.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}