*{
    margin: 0;
    padding: 0;
}
.side-banner{
    max-width: 260px;
}
.container .row{
    margin-top: 5px;
}
.news{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 700;
}
.side-news{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.side-news-images{
    max-width: 100px;
}